.main__list1 {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 32px 0 0;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(96px, auto);
  column-gap: 32px;
  row-gap: 32px;
}

@media screen and (max-width: 1024px) {
  .main__list1 {
    grid-template-columns: 1fr;
    padding: 44px 0 0;
  }
}

@media screen and (max-width: 400px) {
  .main__list1 {
    padding: 32px 0 0;
    row-gap: 16px;
  }
}
