.generic-component {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: 81px;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .generic-component {
    height: 41px;
  }
}
