.initial__input-slider {
  width: 90%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
  border-radius: 50%;
  background: #FF9514;
  cursor: pointer;
  border: none;
}


.initial__input-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #FF9514;
  cursor: pointer;
  border: none;
}
