.generic-component__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 68px;
  align-items: center;
  border-radius: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
