.component__span {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #575757;
}

@media screen and (max-width: 400px) {
  .component__span {
    font-size: 22px;
    line-height: 20px;
    color: #333E48;
  }
}
