.main__list {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 32px 0 0;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(81px, auto);
  column-gap: 32px;
  row-gap: 44px;
}
