.component__range {
  outline: none;
  background-color: rgb(0,0,0,0.0);;
  border-style: none;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #575757;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
